<h1>Editing letter_detail</h1>

<% form_for(@letter_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @letter_detail %> |
<%= link_to 'Back', letter_details_path %>