<h1>Listing letter_details</h1>

<table>
  <tr>
  </tr>

<% @letter_details.each do |letter_detail| %>
  <tr>
    <td><%= link_to 'Show', letter_detail %></td>
    <td><%= link_to 'Edit', edit_letter_detail_path(letter_detail) %></td>
    <td><%= link_to 'Destroy', letter_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New letter_detail', new_letter_detail_path %>