<h1>Editing tactic</h1>

<% semantic_form_for(@tactic) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "form", :locals => { :f => f, :button => "Создать"  }  %>
<% end %>

<%= link_to 'Show', @tactic %> |
<%= link_to 'Back', tactics_path %>