<h1>Listing tactics</h1>

<table>
  <tr>
  </tr>

<% @actions.each do |tactic| %>
  <tr>
    <td><%= link_to 'Show', tactic %></td>
    <td><%= link_to 'Edit', edit_tactic_path(tactic) %></td>
    <td><%= link_to 'Destroy', tactic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tactic', new_tactic_path %>