<h1>New action_list</h1>

<% semantic_form_for(@action_list) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "form", :locals => { :f => f, :button => "Создать"  }  %>
<% end %>

<%= link_to 'Back', action_lists_path %>