<h1>Изменение личной информации</h1>

<% form_for @user, :url => {:action => "update_current", :id => @user} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f, :button => "Обновить", :current_user => @user  }  %>
<% end %>

