<h1>Editing boxing_type</h1>

<% form_for(@boxing_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @boxing_type %> |
<%= link_to 'Back', boxing_types_path %>