<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Вход в систему учета</title>

<![if !(IE)]>
  <%= stylesheet_link_tag 'scaffold' %>
<![endif]>

<!--[if IE]>
  <%= stylesheet_link_tag 'ie_scaffold' %>
<![endif]-->
</head>
<body >
	<div class="header"></div>
<div class="wrapper">

	<!-- осн форма -->
	<div class="login">
		<p><h1>Спасибо за регистрацию!</h1> 
    <p>Ваша учетная запись в настоящий момент неактивна. Активировать ее могут специалисты отдела фармацевтического консалтинга ООО "Центр инноваций"		
    <p><a href="register">Зарегистрироваться</a>  <a href="login">Войти</a>
		<p>Контактный email: <a href="mailto:***REMOVED***" title="обратный адрес">***REMOVED***</a>
	</div>
	<!---->
	<div class="errors">
		<p><%= flash[:sent] %></p>
	</div>
</div>
<div class="footer"><a href = "http://***REMOVED***"><div class="foot_text">ООО Центр Инноваций, 2011</div></a></div>
</body>
</html>