<h1>Редактирование состояния письма</h1>

<% semantic_form_for(@letter_state) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "form", :locals => { :f => f, :button => "Создать"  }  %>
<% end %>