<h1>Editing organization</h1>

<% semantic_form_for(@organization) do |f| %>
  <%= f.error_messages %>
<%= render :partial => "form", :locals => { :f => f, :button => "Обновить"  }  %>
 
<% end %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>