<h1>Listing measures</h1>

<table>
  <tr>
  </tr>

<% @measures.each do |measure| %>
  <tr>
    <td><%= link_to 'Show', measure %></td>
    <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
    <td><%= link_to 'Destroy', measure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New measure', new_measure_path %>