<h1>Editing manufacturer</h1>

<% semantic_form_for(@manufacturer) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "form", :locals => { :f => f, :button => "???????"  }  %>
<% end %>

<%= link_to 'Show', @manufacturer %> |
<%= link_to 'Back', manufacturers_path %>